<div class="center-screen rounded">
  <div class="wth33">
    <!-- Login page form -->
    <h2 class="text-center">Kendram</h2>
    <!-- validate() checks the login id and logs to next page if valid -->
    <form name="form" (ngSubmit)="f.form.valid && validate()" #f="ngForm" novalidate>
      <!-- Username field with validation -->
      <div class="form-group">
        <small class="text-muted">Username</small>
        <input type="text" class="form-control" name="uname" [(ngModel)]="username" placeholder="Username" #uname="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && uname.invalid }" required />
        <div *ngIf="f.submitted && uname.invalid" class="invalid-feedback">
          <div *ngIf="uname.errors.required">Username is required</div>
        </div>
      </div>
      <!-- Password field with validation -->
      <div class="form-group">
        <small class="text-muted">Password</small>
        <input type="password" class="form-control" placeholder="Password" name="pwd" [(ngModel)]="password" #pwd="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && pwd.invalid }" required />
        <div *ngIf="f.submitted && pwd.invalid" class="invalid-feedback">
          <div *ngIf="pwd.errors.required">Password is required</div>
        </div>
      </div>
      <div class="clearfix form-group">
        <span class="float-right">
          <button type="submit" class="btn btn-primary">Sign-in</button>
        </span>
      </div>
    </form>
    <hr>
    <div class="clearfix">
      <a class="float-left text-color" href="">Forgot Password</a>
      <a href="" class="float-right text-color">Register</a>
    </div>
  </div>
</div>
