<div class="center-screen rounded">
  <div class="wth33" style="border: 1px solid lightgray;padding: 20px;border-radius: 5px;">
    <h2 class="txt-center">Bahubali</h2>
    <div class="text-muted txt-right"><small>Mitra’s Utilities … build for APIs with APIs</small></div>
    <div class="form-group">
      <small for="email" class="text-muted">Username or E-mail</small>
      <input type="email" class="form-control" [(ngModel)]="username" id="email" placeholder="Username or E-mail">
    </div>
    <div class="form-group">
      <small for="pwd" class="text-muted">Password</small>
      <input type="password" class="form-control" [(ngModel)]="password" id="pwd" placeholder="Password">
    </div>
    <div class="clearfix">
      <span class="float-right">
        <button type="submit" (click)="validate()" class="btn bg-color">Sign-in</button>
      </span>
    </div>
    <hr>
    <div class="clearfix">
      <a class="float-left x-color" href="">Forgot Password</a>
      <a href="" class="float-right x-color">Register</a>
    </div>
  </div>
</div>