.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  .bg-color{
    background: #62b220;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .x-color{
      color:#49821c;
  }
  .wth33{
      width: 33%;
  }
  .txt-center{
        text-align: center;
  }
  .txt-right{
    font-size: 15px;
    text-indent: 40%;
  }