<div class=" mt-4">
    <div class="clearfix">
      <span class="float-left form-group col-3">
        <!-- inputfield helps to add the data in the list -->
        <input type="text" class="form-control" [(ngModel)]="klInput" placeholder="Add K Detail">
      </span>
      <span class="float-right col-1">
        <button class="btn btn-primary btn-sm float-right" (click)="addToList()">Add</button>
      </span>
    </div>
    <!-- Displays data which is retrived from database -->
    <table class="table" id="table_id" *ngIf="klList.length">
      <thead class="thead-dark">
        <tr>
          <th>Jilla Name</th>
          <th>Taluka Name</th>
          <th>Group Name</th>
          <th>Country</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="table_id">
        <tr *ngFor="let kl of klList;let i = index">
  
          <td>
            <span>{{kl.jillaName}}</span>
          </td>
          <td>
            <span>{{kl.talukaName}}</span>
          </td>
          <td>
            <span>{{kl.groupName}}</span>
          </td>
          <td>
            <span>{{kl.country}}</span>
          </td>
          <td>
            <span>{{kl.state}}</span>
          </td>
          <td>
            <!-- Delete's the particular row data from the table -->
            <button type="button" (click)="delete(i)" class="btn btn-primary btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
