<br>
<div class="row">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Surname,Middle Name and Name</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="ykCurrData.surname" placeholder="surname" />
    <input type="text" class="form-control" [(ngModel)]="ykCurrData.middleName" placeholder="middle name" />
    <input type="text" class="form-control" [(ngModel)]="ykCurrData.name" placeholder="name" />
  </div>
</div>
<br>
<div class="row">
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Taluka</span>
    </div>
    <select class="form-control" [(ngModel)]="ykCurrData.taluka" aria-placeholder="Taluka">
      <option *ngFor="let tl of thalukaList">{{tl}}</option>
    </select>
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Patti</span>
    </div>
    <input class="form-control" type="text" [(ngModel)]="ykCurrData.patti" placeholder="Patti" />
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Video Kendra</span>
    </div>
    <input class="form-control" [(ngModel)]="ykCurrData.videoKendra" placeholder="Video Kendra" />
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Kendra</span>
    </div>
    <input class="form-control" [(ngModel)]="ykCurrData.kendra" placeholder="Kendra" />
  </div>
</div>


<div class="row">
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Kendra Type</span>
    </div>
    <select class="form-control col" [(ngModel)]="ykCurrData.kendraType">
      <option *ngFor="let ktl of kendraTypeList">{{ktl}}</option>
    </select>
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Jimmedari</span>
    </div>
    <select class="form-control col" [(ngModel)]="ykCurrData.jimmedari" placeholder="Jimmedari">
      <option *ngFor="let jl of jimmedariList">{{jl}}</option>
    </select>
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Contact</span>
    </div>
    <input type="text" class="form-control col" [(ngModel)]="ykCurrData.contact" placeholder="contact" />
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">DoB</span>
    </div>
    <input type="date" class="form-control col" [(ngModel)]="ykCurrData.dob" (change)="getDob(ykCurrData)"
      placeholder="dob" />
  </div>
</div>


<div class="row">
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Recidence</span>
    </div>
    <input class="form-control" [(ngModel)]="ykCurrData.residence" placeholder="Residence" />
  </div>
  <div class="input-group input-group-sm mb-3 col-sm-3">
    <button class="btn btn-primary btn-sm" (click)="addToList()">Add</button>
  </div>
</div>




<br>
 <div class=" mt-4" style="align-content: center;">
  <!--<div class="form-group">
    <div class="row">
     
      <input class="form-control col-sm-3" type="text" [(ngModel)]="ykCurrData.patti" placeholder="Patti" />

      <input class="form-control col-sm-3" [(ngModel)]="ykCurrData.videoKendra" placeholder="Video Kendra" />
    </div>


    <form class="row">
      <input class="form-control col" [(ngModel)]="ykCurrData.kendra" placeholder="Kendra" />

      kendraType:<select class="form-control col" [(ngModel)]="ykCurrData.kendraType" placeholder="kendra type:">
        <option *ngFor="let ktl of kendraTypeList">{{ktl}}</option>
      </select>

      Jimmedari:<select class="form-control col" [(ngModel)]="ykCurrData.jimmedari" placeholder="Jimmedari">
        <option *ngFor="let jl of jimmedariList">{{jl}}</option>
      </select>
    </form>
    <br>
    <form class="row"><span class="col">
        <input type="text" class="form-control" [(ngModel)]="ykCurrData.surname" placeholder="surname" />
        <input type="text" class="form-control" [(ngModel)]="ykCurrData.middleName" placeholder="middle name" />
        <input type="text" class="form-control" [(ngModel)]="ykCurrData.name" placeholder="name" />
      </span>

      <input type="text" class="form-control col" [(ngModel)]="ykCurrData.contact" placeholder="contact" />

      Date of Birth:<input type="date" class="form-control col" [(ngModel)]="ykCurrData.dob"
        (change)="getDob(ykCurrData)" placeholder="dob" />
    </form>

    <form class="form-inline">
      <input class="form-control" [(ngModel)]="ykCurrData.residence" placeholder="Residence" />
      <button class="btn btn-primary btn-sm" (click)="addToList()">Add</button></form>
  </div> -->
  <!-- <button class="btn btn-primary btn-sm" (click)="addToList()">Add</button> -->
  <table class="table" id="table_id" *ngIf="ykList.length">
    <thead class="thead-dark">
      <tr>
        <th>Taluka</th>
        <th>Patti</th>
        <th>Video Kendra</th>
        <th>Kendra</th>
        <th>Kendra Type</th>
        <th>Jimmedari</th>
        <th colspan="3">Full Name</th>
        <th>Contact</th>
        <th>DoB</th>
        <th>Age</th>
        <th>Residence</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="table_id">
      <tr *ngFor="let yk of ykList;let i = index;let f= first;let l= last">

        <td>
          <span>{{yk.taluka}}</span>
          <!-- <span *ngIf="i === 0">
            <select class="form-control" [(ngModel)]="yk.taluka">
              <option *ngFor="let tl of thalukaList">{{tl}}</option>
            </select>
          </span> -->
        </td>
        <td>
          <span>{{yk.patti}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.patti" /></span> -->
        </td>
        <td>
          <span>{{yk.videoKendra}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.videoKendra" /></span> -->
        </td>
        <td>
          <span>{{yk.kendra}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.kendra" /></span> -->
        </td>
        <td>
          <span>{{yk.kendraType}}</span>
          <!-- <span *ngIf="i === 0">
            <select class="form-control" [(ngModel)]="yk.kendraType">
              <option *ngFor="let ktl of kendraTypeList">{{ktl}}</option>
            </select>
          </span> -->
        </td>
        <td>
          <span>{{yk.jimmedari}}</span>
          <!-- <span *ngIf="i === 0">
            <select class="form-control" [(ngModel)]="yk.jimmedari">
              <option *ngFor="let jl of jimmedariList">{{jl}}</option>
            </select>
          </span> -->
        </td>
        <td>
          <span>{{yk.surname}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.surname" /></span> -->
        </td>
        <td>
          <span>{{yk.middleName}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.middleName" /></span> -->
        </td>
        <td>
          <span>{{yk.name}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.name" /></span> -->
        </td>
        <td>
          <span>{{yk.contact}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.contact" /></span> -->
        </td>
        <td>
          <span>{{yk.dob | date}}</span>
          <!-- <span *ngIf="i === 0"><input type="date" class="form-control" [(ngModel)]="yk.dob"
              (change)="getDob(yk)" /></span> -->
        </td>
        <td>
          <span>{{yk.age}}</span>
        </td>
        <td>
          <span>{{yk.residence}}</span>
          <!-- <span *ngIf="i === 0"><input class="form-control" [(ngModel)]="yk.residence" /></span> -->
        </td>
        <td>
          <button type="button" (click)="delete(i)" class="btn btn-primary btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button *ngIf="ykList.length" class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
</div>