<p>
  k-level works!
</p>

<!--
  country - i/p box
  sanghat/state - i/p box
  jllla name - i/p box
  jilla sannidhata - select box (from json)
  taluka name - i/p box
  taluka sannidhata - select box (from json)
  groupname - i/p box
  avekshak name - select box (from json)
  kendra name - i/p 
  kendra type - select (Yuva kendra / DPC )
  YuvaYuvati - selecct (Yuva / Yuvati)
  Year in which kendra Started - 1997
  category - select (Village , City Vistar)
  Kendra number - i/p (only digits)
  status - selct (Active,Merged,Inactive)
  year merged - i/p
  merged to - i/p
  sanchalak1 - select (from json)
  sanchalak2 - select (from json)
  min attendence - i/p
  max attendance - i/p
  Yuva kendra conducted in - selct (Home,School or College,Classes,Others)
  Name of Village of Yuvakendra - i/p 
  Name of Nearest Bus Stand Or Main Road (Land Mark) - i/p
  Yuvakendra Sthal - Complete postal Address (compulsory) - textarea
  Yuva Kendra Sthal - Pincode (compulsory) - i/p (only digits)
  Day Of Yuvakendra - Weekday - slect (from json)
  Time Of Yuvakendra - i/p (Placeholder "format HH:MM AM/PM")
  Swadhyay Kendra based on Area/Village/Vistar - i/p
  Village (As Per Swadhyay Kendra) - i/p
-->
