<form name="form" (ngSubmit)=" addToList()" #f="ngForm" novalidate>
  <div class="row pt10">
    <!-- Jilla Name section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jilla Name</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.jilla" placeholder="Jilla Name" name="jillaName"
        #jillaName="ngModel" />
    </div>
    <!-- Jilla Sannidatha section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jilla Sannidatha</span>
      </div>
      <select class="custom-select" name="jillaSannidatha" [(ngModel)]="klCurrent.jSannidatha.id"
        #jillaSannidatha="ngModel" (change)="setName(klCurrent.jSannidatha.id,'jilla')">
        <option hidden selected></option>
        <option *ngFor="let jsl of jSannidathaList" [ngValue]="jsl.id">{{jsl.name}}</option>
      </select>
    </div>
    <!-- Jilla Sannidatha dob section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jilla Sannidatha DOB</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.jSannidatha.dob" name="jillaSannidathaDOB"
        #jillaSannidathaDOB="ngModel" readonly />
    </div>
    <!-- Jilla Sannidatha phone section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jilla Sannidatha phone</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.jSannidatha.phone" name="jillaSannidathaphone"
        #jillaSannidathaphone="ngModel" readonly />
    </div>
  </div>
  <div class="row pt10">
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <!-- Taluka Name Section in form -->
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Taluka Name</span>
      </div>
      <input class="form-control" type="text" placeholder="Taluka Name" [(ngModel)]="klCurrent.taluka" name="talukaName"
        #talukaName="ngModel" />
    </div>
    <!-- Taluka Sannidatha Section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Taluka Sannidatha</span>
      </div>
      <select class="custom-select" name="talukaSannidatha" [(ngModel)]="klCurrent.tSannidatha.id"
        #talukaSannidatha="ngModel" (change)="setName(klCurrent.tSannidatha.id,'taluka')">
        <option hidden selected></option>
        <option *ngFor="let tsl of tSannidathaList" [ngValue]="tsl.id">{{tsl.name}}</option>
      </select>
    </div>
    <!-- Taluka Sannidatha dob section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Taluka Sannidatha DOB</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.tSannidatha.dOB" name="talukaSannidathaDOB"
        #talukaSannidathaDOB="ngModel" readonly />
    </div>
    <!-- Taluka Sannidatha phone section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">`
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Taluka Sannidatha phone</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.tSannidatha.phone" name="talukaSannidathaphone"
        #talukaSannidathaphone="ngModel" readonly />
    </div>
  </div>
  <div class="row pt10">
    <!-- Group Name section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Group Name</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.group" placeholder="Group Name" name="groupName"
        #groupName="ngModel" />
    </div>
    <!-- Avekshak Name section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Avekshak</span>
      </div>
      <select class="custom-select" name="avekshakName" (change)="setName(klCurrent.avekshak.id,'avekshak')"
        [(ngModel)]="klCurrent.avekshak.id" #avekshakName="ngModel">
        <option hidden selected></option>
        <option *ngFor="let avl of avekshakList" [ngValue]="avl.id">{{avl.name}}</option>
      </select>
    </div>
    <!-- Jilla Name section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Avekshak DOB</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.avekshak.dob" name="avekshakDOB"
        #avekshakDOB="ngModel" readonly />
    </div>
    <!-- Jilla Name section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Avekshak phone</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.avekshak.phone" name="avekshakphone" #avekshakphone="ngModel"
        readonly />
    </div>
  </div>
  <div class="row pt10">
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <!-- Country Section in form -->
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Country</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.country" name="country" #country="ngModel" />
    </div>
    <!-- State Section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanghat/State</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.sanghat" name="state" #state="ngModel" />
    </div>
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <!-- Kendra Name Section in form -->
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Kendra Name</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.kendra" name="kendraName" #kendraName="ngModel" />
    </div>
    <!-- Kendra Type Section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Kendra Type</span>
      </div>
      <select class="custom-select" name="kendraType" [(ngModel)]="klCurrent.kendraType" #kendraType="ngModel">
        <option hidden selected></option>
        <option *ngFor="let ktl of kendraTypeList">{{ktl}}</option>
      </select>
    </div>
  </div>

  <div class="row pt10">
    <!-- yuva/yuvati section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">gender</span>
      </div>
      <select class="custom-select" name="yuvaYuvati" [(ngModel)]="klCurrent.yuvaYuvati" #yuvaYuvati="ngModel">
        <option hidden selected></option>
        <option *ngFor="let gt of genderType">{{gt}}</option>
      </select>
    </div>
    <!-- Category section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
      </div>
      <select class="custom-select" name="category" [(ngModel)]="klCurrent.category" #category="ngModel">
        <option hidden selected></option>
        <option *ngFor="let cat of categoryList">{{cat}}</option>
      </select>
    </div>
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <!-- Kendra Number Section in form -->
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Kendra No.</span>
      </div>
      <input class="form-control quantity" type="number" [(ngModel)]="klCurrent.kendraNumber" name="kendraNumber"
        #kendraNumber="ngModel" />
    </div>
    <!-- Status Section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
      </div>
      <select class="custom-select" name="status" [(ngModel)]="klCurrent.status" #status="ngModel">
        <option hidden selected></option>
        <option *ngFor="let stat of statusList">{{stat}}</option>
      </select>
    </div>
  </div>



  <div class="row pt10">
    <!-- sanchalak1 section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak1</span>
      </div>
      <select class="custom-select" name="sanchalak1" (change)="setName(klCurrent.sanchalak1.id,'s1')"
        [(ngModel)]="klCurrent.sanchalak1.id" #sanchalak1="ngModel">
        <option hidden selected></option>
        <option *ngFor="let sck of sanchalakList" [ngValue]="sck.id">{{sck.name}}</option>
      </select>
    </div>
    <!-- merged to section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak1 DOB</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.sanchalak1.dob" placeholder="Merged To"
        name="sanchalak1DOB" #sanchalak1DOB="ngModel" readonly />
    </div>
    <!-- merged to section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak1 phone</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.sanchalak1.phone" placeholder="Merged To"
        name="sanchalak1phone" #sanchalak1phone="ngModel" readonly />
    </div>
  </div>

  <div class="row pt10">


    <!-- sanchalak2 section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak2</span>
      </div>
      <select class="custom-select" name="sanchalak2" (change)="setName(klCurrent.sanchalak2.id,'s2')"
        [(ngModel)]="klCurrent.sanchalak2.id" #sanchalak2="ngModel">
        <option hidden selected></option>
        <option *ngFor="let sck of sanchalakList" [ngValue]="sck.id">{{sck.name}}</option>
      </select>
    </div>
    <!-- merged to section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak2 DOB</span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="klCurrent.sanchalak2.dob" placeholder="Merged To"
        name="sanchalak2DOB" #sanchalak2DOB="ngModel" readonly />
    </div>
    <!-- merged to section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sanchalak2 phone</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.sanchalak2.phone" placeholder="Merged To"
        name="sanchalak2phone" #sanchalak2phone="ngModel" readonly />
    </div>
  </div>
  <div class="row pt10">
    <!-- Minimum Attendance section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Attendance</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.minAttendance" placeholder="Min Attendance"
        name="minAttendance" #minAttendance="ngModel" />
    </div>
    <!-- Maxium Attendance section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Attendance</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.maxAttendance" placeholder="Max Attendance"
        name="maxAttendance" #maxAttendance="ngModel" />
    </div>
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <!-- Yuva kendra conducted in Section in form -->
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Conducted Place</span>
      </div>
      <select class="custom-select" name="conductedIn" [(ngModel)]="klCurrent.ykConducted" #conductedIn="ngModel">
        <option hidden selected></option>
        <option *ngFor="let con of conducted">{{con}}</option>
      </select>
    </div>
    <!-- Name of Village of Yuvakendra Section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Village</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.villageOfYK" placeholder="Village Of YK" name="villageOfYK"
        #villageOfYK="ngModel" />
    </div>
  </div>




  <div class="row pt10">

    <!-- Land Mark section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Land Mark</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.landMark" placeholder="Nearest Place" name="landMark"
        #landMark="ngModel" />
    </div>
    <!-- Day Of Yuvakendra section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Day Of YK</span>
      </div>
      <select class="custom-select" name="weekDay" [(ngModel)]="klCurrent.dayOfYK" #weekDay="ngModel">
        <option hidden selected></option>
        <option *ngFor="let day of daysList">{{day}}</option>
      </select>
    </div>
    <!-- Time Of Yuvakendra section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Time of YK</span>
      </div>
      <input type="time" class="form-control" [(ngModel)]="klCurrent.timeOfYK" name="timeOfYK" #timeOfYK="ngModel" />
    </div>
    <!-- Swadhyay Kendra based on Area/Village/Vistar section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Swadhyay Kendra</span>
      </div>
      <input class="form-control" placeholder="Area/Village/Vistar" [(ngModel)]="klCurrent.swadhyayLoc"
        name="swadhyayLoc" #swadhyayLoc="ngModel" />
    </div>
  </div>


  <div class="row pt10">
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Year of Kendra</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.yearOfKendra" placeholder="Year Merged" name="yearOfKendra"
        #yearOfKendra="ngModel" />
    </div>
    <!-- year merged section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Year</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.yearMerged" placeholder="Year Merged" name="yearMerged"
        #yearMerged="ngModel" />
    </div>
    <!-- merged to section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Merge</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.mergedTo" placeholder="Merged To" name="mergedTo"
        #mergedTo="ngModel" />
    </div>
    <!--  Village (As Per Swadhyay Kendra) section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"> Village </span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.swadhyayVillage" placeholder="(As Per Swadhyay Kendra)"
        name="swadhyayVillage" #swadhyayVillage="ngModel" />
    </div>
  </div>

  <div class="row pt10">
    <!-- YK Sthal Pincode section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Pincode</span>
      </div>
      <input class="form-control" [(ngModel)]="klCurrent.yKSthalPin" name="yKSthalPin" #yKSthalPin="ngModel" />
    </div>
    <!-- Yuvakendra Sthal - Complete postal Address section in form -->
    <div class="input-group input-group-sm mb-3 col-sm-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Address</span>
      </div>
      <textarea class="form-control" [(ngModel)]="klCurrent.yKSthal"
        placeholder="Yuvakendra Sthal - Complete postal Address " name="yKSthal" #yKSthal="ngModel"></textarea>
    </div>

    <div class="input-group input-group-sm mb-3 col-sm-3">
      <button [disabled]="loading" class="tn btn-primary btn-sm">Add</button>
    </div>
  </div>
</form>


<div class="mt-4">
  <table class="table" id="table_id" *ngIf="klList.length">
    <thead class="thead-dark">
      <tr>
        <th>Country</th>
        <th>Sanghta/State</th>
        <th>Jilla Name</th>
        <th>Jilla Sannidatha</th>
        <th>Jilla Sannidatha Dob</th>
        <th>Jilla Sannidatha phone</th>
        <th>Taluka Name</th>
        <th>Taluka Sannidatha</th>
        <th>Taluka Sannidatha Dob</th>
        <th>Taluka Sannidatha phone</th>
        <th>Group Name </th>
        <th>Avekshak Name</th>
        <th>Avekshak phone</th>
        <th>Avekshak Dob</th>
        <th>Kendra Name</th>
        <th>Kendra Type</th>
        <th>Yuva/Yuvati</th>
        <th>Year Started</th>
        <th>Category</th>
        <th>Kendra No.</th>
        <th>Status</th>
        <th>Year Merged</th>
        <th>Merged to</th>
        <th>Sanchalak1</th>
        <th>Sanchalak1 phone</th>
        <th>Sanchalak1 Dob</th>
        <th>Sanchalak2</th>
        <th>Sanchalak2 phone</th>
        <th>Sanchalak2 Dob</th>
        <th>Min Attendance</th>
        <th>Max Attendance</th>
        <th>YK Conducted In</th>
        <th>Name of Village</th>
        <th>Landmark</th>
        <th>YK sthal</th>
        <th>Pincode</th>
        <th>Day</th>
        <th>Time of YK</th>
        <th>Swadhyay Based On</th>
        <th>Village(swadhyay kendra)</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- displays details filled in form -->
    <tbody id="table_id">
      <tr *ngFor="let kl of klList;let i = index;let f= first;let l= last">
        <td>
          <span>{{kl.country}}</span>
        </td>
        <td>
          <span>{{kl.sanghat}}</span>
        </td>
        <td>
          <span>{{kl.jilla}}</span>
        </td>
        <td>
          <span>{{kl.jSannidatha.name}}</span>
        </td>
        <td>
          <span>{{kl.jSannidatha.dob | date}}</span>
        </td>
        <td>
          <span>{{kl.jSannidatha.phone}}</span>
        </td>
        <td>
          <span>{{kl.taluka}}</span>
        </td>
        <td>
          <span>{{kl.tSannidatha.name}}</span>
        </td>
        <td>
          <span>{{kl.tSannidatha.dob | date}}</span>
        </td>
        <td>
          <span>{{kl.tSannidatha.phone}}</span>
        </td>
        <td>
          <span>{{kl.group}}</span>
        </td>
        <td>
          <span>{{kl.avekshak.name}}</span>
        </td>
        <td>
          <span>{{kl.avekshak.phone}}</span>
        </td>
        <td>
          <span>{{kl.avekshak.dob| date}}</span>
        </td>
        <td>
          <span>{{kl.kendra}}</span>
        </td>
        <td>
          <span>{{kl.kendraType}}</span>
        </td>
        <td>
          <span>{{kl.yuvaYuvati}}</span>
        </td>
        <td>
          <span>{{kl.yearOfKendra}}</span>
        </td>
        <td>
          <span>{{kl.category}}</span>
        </td>
        <td>
          <span>{{kl.kendraNumber}}</span>
        </td>
        <td>
          <span>{{kl.status}}</span>
        </td>
        <td>
          <span>{{kl.yearMerged}}</span>
        </td>
        <td>
          <span>{{kl.mergedTo}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak1.name}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak1.phone}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak1.dob| date}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak2.name}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak2.phone}}</span>
        </td>
        <td>
          <span>{{kl.sanchalak2.dob| date}}</span>
        </td>
        <td>
          <span>{{kl.minAttendance}}</span>
        </td>
        <td>
          <span>{{kl.maxAttendance}}</span>
        </td>
        <td>
          <span>{{kl.ykConducted}}</span>
        </td>
        <td>
          <span>{{kl.villageOfYK}}</span>
        </td>
        <td>
          <span>{{kl.landMark}}</span>
        </td>
        <td>
          <span>{{kl.yKSthal}}</span>
        </td>
        <td>
          <span>{{kl.yKSthalPin}}</span>
        </td>
        <td>
          <span>{{kl.dayOfYK}}</span>
        </td>
        <td>
          <span>{{kl.timeOfYK}}</span>
        </td>
        <td>
          <span>{{kl.swadhyayLoc}}</span>
        </td>
        <td>
          <span>{{kl.swadhyayVillage}}</span>
        </td>
        <td>
          <!-- Delete's the particular row data from the table -->
          <button type="button" (click)="delete(i)" class="btn btn-primary btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Submits all the data of the row to database -->
  <button *ngIf="klList.length" class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
</div>
<!--
  country - i/p box /
  sanghat/state - i/p box
  jllla name - i/p box
  jilla sannidhata - select box (from json)
  taluka name - i/p box
  taluka sannidhata - select box (from json)
  groupname - i/p box
  avekshak name - select box (from json)
  kendra name - i/p 
  kendra type - select (Yuva kendra / DPC )
  YuvaYuvati - selecct (Yuva / Yuvati)
  Year in which kendra Started - 1997
  category - select (Village , City Vistar)
  Kendra number - i/p (only digits)
  status - selct (Active,Merged,Inactive)
  year merged - i/p
  merged to - i/p
  sanchalak1 - select (from json)
  sanchalak2 - select (from json)
  min attendence - i/p
  max attendance - i/p
  Yuva kendra conducted in - selct (Home,School or College,Classes,Others)
  Name of Village of Yuvakendra - i/p 
  Name of Nearest Bus Stand Or Main Road (Land Mark) - i/p
  Day Of Yuvakendra - Weekday - slect (from json)




  Time Of Yuvakendra - i/p (Placeholder "format HH:MM AM/PM")
  Swadhyay Kendra based on Area/Village/Vistar - i/p
  Village (As Per Swadhyay Kendra) - i/p
  Yuvakendra Sthal - Complete postal Address (compulsory) - textarea
  Yuva Kendra Sthal - Pincode (compulsory) - i/p (only digits)
  
-->
<!-- year merged section in form -->